{% extends "mshare/base.html" %}

{% block content %}   
<br>
<br>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<br>
<div class="row justify-content-center mt-5">
<div class="login-form" style="margin-bottom: 15px;
background:white;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
width: 380px;
padding: 50px;">
<form method="POST">
        <h2 class="text-center" style="padding-bottom: 15px; margin-top: -20px;">Change Password</h2>
    {% csrf_token %}
    <br>
    <div class="md-form">
        <i class="fas fa-lock prefix white-text active"></i>
        <input type="password" id="old_password" class="white-text form-control" name="old_password" placeholder="Old Password">
      </div>
      <br>
    <div class="md-form">
        <i class="fas fa-lock prefix white-text active"></i>
        <input type="password" id="new_password1" class="white-text form-control" name="new_password1" placeholder="New Password">
    </div>
      <br>
    <div class="md-form">
        <i class="fas fa-lock prefix white-text active"></i>
        <input type="password" id="new_password2" class="white-text form-control" name="new_password2" placeholder="Confirm Password">
    </div>
      <br>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
</div>
</div>
{% endblock %}