{% extends 'mshare/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Log In</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
<form method="POST">

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Login</button>
</form>

{% endblock %}