{% extends 'mshare/base.html' %}
{% block content %}
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
<div class="login-form" style="margin-bottom: 15px;margin-top: -10px;
background:white;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
padding: 50px;">
<form method="POST">
    <h2 class="text-center" style="padding-bottom: 25px; margin-top: -30px;">Sign In</h2>
  {% csrf_token %}
  <div class="md-form">
    <i class="fas fa-user prefix white-text active"></i>
    <input type="email" id="email" class="white-text form-control" name="email" placeholder="Email">
  </div>
  <br>
  <div class="md-form">
    <i class="fas fa-envelope prefix white-text active"></i>
    <input type="text" id="username" class="white-text form-control"name="username" placeholder="Username">  
</div>
<br>
  <div class="md-form">
    <i class="fas fa-lock prefix white-text active"></i>
    <input type="password" id="password1" class="white-text form-control" name="password1" placeholder="Password">
  </div>
  <br>
  <div class="md-form">
    <i class="fas fa-lock prefix white-text active"></i>
    <input type="password" id="password2" class="white-text form-control" name="password2" placeholder="Confirm Password">
  </div>
  <br>
    <button type="submit" class="btn btn-primary" href="{% url 'loginuser' %}">Register</button>
</form>
<hr>
<div class="text-center">
    Do you already have an account? <a href="{% url 'loginuser' %}">Login here</a>
</div>
</div>


{% endblock %}